<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/currently_down_services" routerLinkActive="active">Down Services</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/recently_down_services" routerLinkActive="active">Recently Down</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/add_new_outage" routerLinkActive="active">Add Outage</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/flapping_scenarios" routerLinkActive="active">Flapping Scenarios</a>
  </li>
</ul>

<router-outlet></router-outlet>
